<div class="cronicasrpg game-license">
  <div style="text-align: center;">
    <a href="https://newordereditora.com.br/loja/rpg/cronicas/cronicas-rpg/">
      <img src="/systems/cronicasrpg/assets/cronicas.png" width="100px" style="border: none;"
        alt="Compatível com Crônicas RPG" />
    </a>
  </div>
  <p>
    Este sistema é compatível com as regras do Crônicas RPG e foi criado com a permissão do autor.
    Criado para o Foundry VTT por Marcos Gonçalves (Coppolaop).
  </p>
  <p>
    Sugira correções, melhorias ou novas funcionalidades no
    <a href="https://github.com/coppolaop/cronicasrpg/issues/new/choose">Github</a>.
  </p>
</div>