<form class="cronicasrpg" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="resources flex grid-3col">
                <div class="field flex-group-center">
                    <input name="name" type="text" value="{{item.name}}"
                        placeholder="{{localize 'cronicasrpg.nome'}}" />
                    <label>{{localize 'cronicasrpg.nome'}}</label>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="grid grid-3col">
            <div class="input-sheet">
                <input type="checkbox" name="data.ruimDeBloqueio" value="{{data.data.ruimDeBloqueio}}" {{#if
                    data.data.ruimDeBloqueio }}checked{{/if}} data-dtype="Boolean" />
                <label>{{localize 'cronicasrpg.particularidade.ruimDeBloqueio'}}</label>
            </div>
            <div class="input-sheet">
                <input type="checkbox" name="data.complicada" value="{{data.data.complicada}}" {{#if
                    data.data.complicada }}checked{{/if}} data-dtype="Boolean" />
                <label>{{localize 'cronicasrpg.particularidade.complicada'}}</label>
            </div>
        </div>
        <div class="grid grid-3col">
            <div class="input-sheet">
                <input type="checkbox" name="data.fardo" value="{{data.data.fardo}}" {{#if data.data.fardo
                    }}checked{{/if}} data-dtype="Boolean" />
                <label>{{localize 'cronicasrpg.particularidade.fardo'}}</label>
            </div>
            <div class="input-sheet">
                <input type="checkbox" name="data.defensiva" value="{{data.data.defensiva}}" {{#if data.data.defensiva
                    }}checked{{/if}} data-dtype="Boolean" />
                <label>{{localize 'cronicasrpg.particularidade.defensiva'}}</label>
            </div>
            {{#if data.data.defensiva}}
            <input name="data.defensivaValor" type="Number" value="{{data.data.defensivaValor}}"
                placeholder="{{localize 'cronicasrpg.particularidade.defensiva'}}" />
            {{/if}}
        </div>
        <div class="grid grid-4col">
            <div class="input-sheet">
                <label>{{localize 'cronicasrpg.atributoAcerto'}}</label>
                <select class="selectatr" name="data.especializacaoAcerto" value={{data.data.especializacaoAcerto}}
                    data-dtype="String">
                    {{#select data.data.especializacaoAcerto}}
                    <option value="manejo.especializacoes.briga">{{localize 'cronicasrpg.briga'}}</option>
                    <option value="manejo.especializacoes.umaMao">{{localize 'cronicasrpg.umaMao'}}</option>
                    <option value="manejo.especializacoes.duasMaos">{{localize 'cronicasrpg.duasMaos'}}</option>
                    <option value="manejo.especializacoes.escudo">{{localize 'cronicasrpg.escudo'}}</option>
                    <option value="pontaria.especializacoes.arco">{{localize 'cronicasrpg.arco'}}</option>
                    <option value="pontaria.especializacoes.armaDeGuerra">{{localize 'cronicasrpg.armaDeGuerra'}}
                    </option>
                    <option value="pontaria.especializacoes.arremesso">{{localize 'cronicasrpg.arremesso'}}</option>
                    <option value="pontaria.especializacoes.besta">{{localize 'cronicasrpg.besta'}}</option>
                    <option value="pontaria.especializacoes.raio">{{localize 'cronicasrpg.raio'}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="input-sheet">
                <label>{{localize 'cronicasrpg.atributoDano'}}</label>
                <select class="selectatr" name="data.atributoDano" value={{data.data.atributoDano}} data-dtype="String">
                    {{#select data.data.atributoDano}}
                    <option value="agilidade">{{localize 'cronicasrpg.agilidade'}}</option>
                    <option value="forca">{{localize 'cronicasrpg.forca'}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="input-sheet">
                <label>{{localize 'cronicasrpg.danoArma'}}</label>
                <input type="text" name="data.dano" value="{{data.data.dano}}" data-dtype="Number" />
            </div>
            <div>
                <label>{{localize 'cronicasrpg.recursos'}}</label>
                <input type="text" name="data.valor" value="{{data.data.valor}}" data-dtype="Number" />
            </div>
        </div>
        <div class="full border">
            <label>{{localize 'cronicasrpg.particularidades'}}</label>
            <textarea class="largeTextArea" name="data.data.particularidades"
                data-dtype="String">{{#if data.data.particularidades}}{{data.data.particularidades}}{{/if}}</textarea>
        </div>
        <div class="full border">
            <label>{{localize 'cronicasrpg.descricao'}}</label>
            <textarea class="largeTextArea" name="data.data.descricao"
                data-dtype="String">{{#if data.data.descricao}}{{data.data.descricao}}{{/if}}</textarea>
        </div>
    </section>
</form>