<form class="cronicasrpg" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="resources flex grid-3col">
                <div class="field flex-group-center">
                    <input name="name" type="text" value="{{item.name}}"
                        placeholder="{{localize 'cronicasrpg.nome'}}" />
                    <label>{{localize 'cronicasrpg.nome'}}</label>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="grid grid-3col">
            <div class="input-sheet">
                <input type="checkbox" name="ruimDeBloqueio" value="{{system.ruimDeBloqueio}}" {{#if
                    system.ruimDeBloqueio }}checked{{/if}} data-dtype="Boolean" />
                <label>{{localize 'cronicasrpg.particularidade.ruimDeBloqueio'}}</label>
            </div>
            <div class="input-sheet">
                <input type="checkbox" name="complicada" value="{{system.complicada}}" {{#if
                    system.complicada }}checked{{/if}} data-dtype="Boolean" />
                <label>{{localize 'cronicasrpg.particularidade.complicada'}}</label>
            </div>
        </div>
        <div class="grid grid-3col">
            <div class="input-sheet">
                <input type="checkbox" name="fardo" value="{{system.fardo}}" {{#if system.fardo
                    }}checked{{/if}} data-dtype="Boolean" />
                <label>{{localize 'cronicasrpg.particularidade.fardo'}}</label>
            </div>
            <div class="input-sheet">
                <input type="checkbox" name="defensiva" value="{{system.defensiva}}" {{#if system.defensiva
                    }}checked{{/if}} data-dtype="Boolean" />
                <label>{{localize 'cronicasrpg.particularidade.defensiva'}}</label>
            </div>
            {{#if system.defensiva}}
            <input name="defensivaValor" type="Number" value="{{system.defensivaValor}}"
                placeholder="{{localize 'cronicasrpg.particularidade.defensiva'}}" />
            {{/if}}
        </div>
        <div class="grid grid-4col">
            <div class="input-sheet">
                <label>{{localize 'cronicasrpg.atributoAcerto'}}</label>
                <select class="selectatr" name="especializacaoAcerto" value={{system.especializacaoAcerto}}
                    data-dtype="String">
                    {{#select system.especializacaoAcerto}}
                    <option value="manejo.especializacoes.briga">{{localize 'cronicasrpg.briga'}}</option>
                    <option value="manejo.especializacoes.umaMao">{{localize 'cronicasrpg.umaMao'}}</option>
                    <option value="manejo.especializacoes.duasMaos">{{localize 'cronicasrpg.duasMaos'}}</option>
                    <option value="manejo.especializacoes.escudo">{{localize 'cronicasrpg.escudo'}}</option>
                    <option value="pontaria.especializacoes.arco">{{localize 'cronicasrpg.arco'}}</option>
                    <option value="pontaria.especializacoes.armaDeGuerra">{{localize 'cronicasrpg.armaDeGuerra'}}
                    </option>
                    <option value="pontaria.especializacoes.arremesso">{{localize 'cronicasrpg.arremesso'}}</option>
                    <option value="pontaria.especializacoes.besta">{{localize 'cronicasrpg.besta'}}</option>
                    <option value="pontaria.especializacoes.raio">{{localize 'cronicasrpg.raio'}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="input-sheet">
                <label>{{localize 'cronicasrpg.atributoDano'}}</label>
                <select class="selectatr" name="atributoDano" value={{system.atributoDano}} data-dtype="String">
                    {{#select system.atributoDano}}
                    <option value="agilidade">{{localize 'cronicasrpg.agilidade'}}</option>
                    <option value="forca">{{localize 'cronicasrpg.forca'}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="input-sheet">
                <label>{{localize 'cronicasrpg.danoArma'}}</label>
                <input type="text" name="dano" value="{{system.dano}}" data-dtype="Number" />
            </div>
            <div>
                <label>{{localize 'cronicasrpg.recursos'}}</label>
                <input type="text" name="valor" value="{{system.valor}}" data-dtype="Number" />
            </div>
        </div>
        <div class="full border">
            <label>{{localize 'cronicasrpg.particularidades'}}</label>
            <textarea class="largeTextArea" name="particularidades" value="{{system.particularidades}}"
                data-dtype="String">{{#if system.particularidades}}{{system.particularidades}}{{/if}}</textarea>
        </div>
        <div class="full border">
            <label>{{localize 'cronicasrpg.descricao'}}</label>
            <textarea class="largeTextArea" name="descricao"
                data-dtype="String">{{#if system.descricao}}{{system.descricao}}{{/if}}</textarea>
        </div>
    </section>
</form>