<form class="cronicasrpg" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="resources flex grid-3col">
                <div class="field flex-group-center">
                    <input name="name" type="text" value="{{item.name}}" placeholder="Nome" />
                    <label>{{localize 'cronicasrpg.nome'}}</label>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="full border">
            <label>{{localize 'cronicasrpg.descricao'}}</label>
            <textarea class="largeTextArea" name="data.descricao"
                data-dtype="String">{{#if data.data.descricao}}{{data.data.descricao}}{{/if}}</textarea>
        </div>
        <div class="grid grid-2col">
            <div class="input-sheet">
                <label>{{localize 'cronicasrpg.virtude.vigorincrementado'}}</label>
                <select class="selectatr" name="data.aumentoVigor" value={{data.data.aumentoVigor}} data-dtype="String">
                    {{#select data.data.aumentoVigor}}
                    <option value="">{{localize 'cronicasrpg.nenhum'}}</option>
                    <option value="fisico">{{localize 'cronicasrpg.fisico'}}</option>
                    <option value="mental">{{localize 'cronicasrpg.mental'}}</option>
                    <option value="social">{{localize 'cronicasrpg.social'}}</option>
                    {{/select}}
                </select>
            </div>
            {{#if data.data.aumentoVigor}}
            <div class="input-sheet">
                <label>{{localize 'cronicasrpg.pontos'}}</label>
                <input name="data.aumentoVigorValor" type="Number" value="{{data.data.aumentoVigorValor}}" />
            </div>
            {{/if}}
        </div>
    </section>
</form>